.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffebf0;
}

.card {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  padding: 30px;
  max-width: 400px;
  width: 80%;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.button {
  background: #f28fb0;
  color: white;
  border: none;
  padding: 12px 20px;
  margin-top: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 18px;
}

.button:hover {
  background: #db6d8a;
}

.heading{
  font-size: 24px;
  color: #5d1049;
  margin-bottom: 20px;
}
